In [84]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

## Importing dataset

In [85]:
# Importing car sales report data File
df = pd.read_csv(r'C:\Users\solom\Desktop\Achievement-6 Solomon\Original data\Adidas US Sales Dataset.csv',
                 index_col = False)

## Data description

In [86]:
df.head()

,Retailer,Retailer ID,Invoice Date,Year,Month,Day,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/2020,2020,January,1,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.0,0.50,In-store
1,Foot Locker,1185732,1/2/2020,2020,January,2,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.0,0.30,In-store
2,Foot Locker,1185732,1/3/2020,2020,January,3,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000.0,0.35,In-store
3,Foot Locker,1185732,1/4/2020,2020,January,4,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.0,0.35,In-store
4,Foot Locker,1185732,1/5/2020,2020,January,5,Northeast,New York,New York,Men's Apparel,60,900,540000,162000.0,0.30,In-store

In [87]:
df.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Year', 'Month', 'Day',
       'Region', 'State', 'City', 'Product', 'Price per Unit', 'Units Sold',
       'Total Sales', 'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [88]:
df.dtypes

Retailer             object
Retailer ID           int64
Invoice Date         object
Year                  int64
Month                object
Day                   int64
Region               object
State                object
City                 object
Product              object
Price per Unit        int64
Units Sold            int64
Total Sales           int64
Operating Profit    float64
Operating Margin    float64
Sales Method         object
dtype: object

In [89]:
df.shape

(9648, 16)

In [90]:
df.describe()

,Retailer ID,Year,Day,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
count,9.648000e+03,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000
mean,1.173850e+06,2020.865050,14.696310,45.216625,256.930037,93273.437500,34425.244761,0.422991
std,2.636038e+04,0.341688,7.348019,14.705397,214.252030,141916.016727,54193.113713,0.097197
min,1.128299e+06,2020.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.100000
25%,1.185732e+06,2021.000000,9.000000,35.000000,106.000000,4254.500000,1921.752500,0.350000
50%,1.185732e+06,2021.000000,15.000000,45.000000,176.000000,9576.000000,4371.420000,0.410000
75%,1.185732e+06,2021.000000,21.000000,55.000000,350.000000,150000.000000,52062.500000,0.490000
max,1.197831e+06,2021.000000,31.000000,110.000000,1275.000000,825000.000000,390000.000000,0.800000

## Checking Duplicates

In [91]:
# Looking for duplicates in clean data frame
df_dups = df[df.duplicated()]

In [93]:
df_dups

Empty DataFrame
Columns: [Retailer, Retailer ID, Invoice Date, Year, Month, Day, Region, State, City, Product, Price per Unit, Units Sold, Total Sales, Operating Profit, Operating Margin, Sales Method]
Index: []

### No duplicate values found

## Checking missing values

In [94]:
df.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Year                0
Month               0
Day                 0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

### There are no missing values

## Renaming columns

In [95]:
df.rename(columns = {'Operating Profit' : 'Profit'}, inplace = True)
df.rename(columns = {'Operating Margin' : 'Margin ratio'}, inplace = True)

In [96]:
df.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Year', 'Month', 'Day',
       'Region', 'State', 'City', 'Product', 'Price per Unit', 'Units Sold',
       'Total Sales', 'Profit', 'Margin ratio', 'Sales Method'],
      dtype='object')

## Exporting dataframes

In [97]:
path=r'C:\Users\solom\Desktop\Achievement-6 Solomon'

In [98]:
df.to_csv(os.path.join(path, 'Manipulated Data', 'Adidas_sales_clean.csv'))