In [2]:
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import os
import sklearn
from sklearn.cluster import KMeans # Here is where you import the k-means algorithm from scikit-learn.
import pylab as pl # PyLab is a convenience module that bulk imports matplotlib.

In [3]:
# Ensure the graphs are displayed in notebook

%matplotlib inline

## Importing dataframe

In [4]:
path=r'C:\Users\solom\Desktop\Achievement-6 Solomon'

In [5]:
df= pd.read_csv(os.path.join(path, 'Manipulated Data', 'Adidas_sales_clean.csv'), index_col = False)

In [6]:
df.head()

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Year,Month,Day,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Profit,Margin ratio,Sales Method
0,0,Foot Locker,1185732,1/1/2020,2020,January,1,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.0,0.50,In-store
1,1,Foot Locker,1185732,1/2/2020,2020,January,2,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.0,0.30,In-store
2,2,Foot Locker,1185732,1/3/2020,2020,January,3,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000.0,0.35,In-store
3,3,Foot Locker,1185732,1/4/2020,2020,January,4,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.0,0.35,In-store
4,4,Foot Locker,1185732,1/5/2020,2020,January,5,Northeast,New York,New York,Men's Apparel,60,900,540000,162000.0,0.30,In-store

## Removing unnecessary columns

In [7]:
df = df.drop(columns=['Unnamed: 0'])

In [8]:
df.head()

,Retailer,Retailer ID,Invoice Date,Year,Month,Day,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Profit,Margin ratio,Sales Method
0,Foot Locker,1185732,1/1/2020,2020,January,1,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.0,0.50,In-store
1,Foot Locker,1185732,1/2/2020,2020,January,2,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.0,0.30,In-store
2,Foot Locker,1185732,1/3/2020,2020,January,3,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000.0,0.35,In-store
3,Foot Locker,1185732,1/4/2020,2020,January,4,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.0,0.35,In-store
4,Foot Locker,1185732,1/5/2020,2020,January,5,Northeast,New York,New York,Men's Apparel,60,900,540000,162000.0,0.30,In-store

## Renaming columns

In [9]:
df.rename(columns = {'Total Sales' : 'Revenue'}, inplace = True)

In [10]:
df.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Year', 'Month', 'Day',
       'Region', 'State', 'City', 'Product', 'Price per Unit', 'Units Sold',
       'Revenue', 'Profit', 'Margin ratio', 'Sales Method'],
      dtype='object')

In [11]:
df.describe()

,Retailer ID,Year,Day,Price per Unit,Units Sold,Revenue,Profit,Margin ratio
count,9.648000e+03,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000
mean,1.173850e+06,2020.865050,14.696310,45.216625,256.930037,93273.437500,34425.244761,0.422991
std,2.636038e+04,0.341688,7.348019,14.705397,214.252030,141916.016727,54193.113713,0.097197
min,1.128299e+06,2020.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.100000
25%,1.185732e+06,2021.000000,9.000000,35.000000,106.000000,4254.500000,1921.752500,0.350000
50%,1.185732e+06,2021.000000,15.000000,45.000000,176.000000,9576.000000,4371.420000,0.410000
75%,1.185732e+06,2021.000000,21.000000,55.000000,350.000000,150000.000000,52062.500000,0.490000
max,1.197831e+06,2021.000000,31.000000,110.000000,1275.000000,825000.000000,390000.000000,0.800000

In [12]:
# Create a subset

df_sub = df[['Year','Price per Unit', 'Units Sold', 'Revenue', 'Profit', 'Margin ratio']]

In [13]:
df_sub

      Year  Price per Unit  Units Sold  Revenue     Profit  Margin ratio
0     2020              50        1200   600000  300000.00          0.50
1     2020              50        1000   500000  150000.00          0.30
2     2020              40        1000   400000  140000.00          0.35
3     2020              45         850   382500  133875.00          0.35
4     2020              60         900   540000  162000.00          0.30
...    ...             ...         ...      ...        ...           ...
9643  2021              50          64     3200     896.00          0.28
9644  2021              41         105     4305    1377.60          0.32
9645  2021              41         184     7544    2791.28          0.37
9646  2021              42          70     2940    1234.80          0.42
9647  2021              29          83     2407     649.89          0.27

[9648 rows x 6 columns]

In [14]:
df_sub.isnull().sum()

Year              0
Price per Unit    0
Units Sold        0
Revenue           0
Profit            0
Margin ratio      0
dtype: int64

In [15]:
df_sub.dtypes

Year                int64
Price per Unit      int64
Units Sold          int64
Revenue             int64
Profit            float64
Margin ratio      float64
dtype: object

## Elbow technique

In [16]:
num_cl = range(2, 10) # Defines the range of potential clusters in the data.
kmeans = [KMeans(n_clusters=i) for i in num_cl] # Defines k-means clusters in the range assigned above.
kmeans

[KMeans(n_clusters=2),
 KMeans(n_clusters=3),
 KMeans(n_clusters=4),
 KMeans(n_clusters=5),
 KMeans(n_clusters=6),
 KMeans(n_clusters=7),
 KMeans(),
 KMeans(n_clusters=9)]

In [17]:
for number in num_cl:
    print(number)

2
3
4
5
6
7
8
9

In [18]:
kmeans[0]

KMeans(n_clusters=2)

In [19]:
score = [kmeans[i].fit(df_sub).score(df_sub) for i in range(len(kmeans))] # Creates a score that represents a rate of variation for the given cluster option.

score

C:\Users\solom\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
# Plot the elbow curve

pl.plot(num_cl,score)
pl.xlabel('Number of Clusters')
pl.ylabel('Score')
pl.title('Elbow Curve')
pl.show()

## Kmeans clustering

In [20]:
# Create the k-means object with 3 clusters

kmeans = KMeans(n_clusters = 3, n_jobs = -1)

TypeError: KMeans.__init__() got an unexpected keyword argument 'n_jobs'

In [21]:
# Fit the k-means object to the data

kmeans.fit(df_sub)

AttributeError: 'list' object has no attribute 'fit'

In [23]:
# Perform clustering using the k-means model and assign the results to new 'clusters' column

df_sub['clusters'] = kmeans.fit_predict(sub)

AttributeError: 'list' object has no attribute 'fit_predict'

In [24]:
df_sub.head()

   Year  Price per Unit  Units Sold  Revenue    Profit  Margin ratio
0  2020              50        1200   600000  300000.0          0.50
1  2020              50        1000   500000  150000.0          0.30
2  2020              40        1000   400000  140000.0          0.35
3  2020              45         850   382500  133875.0          0.35
4  2020              60         900   540000  162000.0          0.30

In [25]:
# Check the frequency of each unique value in the 'clusters' column

df_sub['clusters'].value_counts()

KeyError: 'clusters'

## Scatterplots

In [27]:
# Plot the clusters for the "Revenue" and "Profit" variables

plt.figure(figsize = (12,8))
ax = sns.scatterplot(x = df_sub['Revenue'], y = df_sub['Profit'], hue = kmeans.labels_, s = 100) 

ax.grid(False)
plt.xlabel('Revenue')
plt.ylabel('Profit')
plt.show()

AttributeError: 'list' object has no attribute 'labels_'

In [28]:
# Plot the clusters for the "Happiness_Score" and "Health" variables.

plt.figure(figsize = (12,8))
ax = sns.scatterplot(x = df_sub['Units Sold'], y = df_sub['Profit'], hue = kmeans.labels_, s = 100) 

ax.grid(False)
plt.xlabel('Units Sold')
plt.ylabel('Profit')
plt.show()

AttributeError: 'list' object has no attribute 'labels_'

## Descriptive statistics

In [29]:
df_sub.loc[df_sub['clusters'] == 2, 'cluster'] = 'dark'
df_sub.loc[df_sub['clusters'] == 1, 'cluster'] = 'purple'
df_sub.loc[df_sub['clusters'] == 0, 'cluster'] = 'pink'

KeyError: 'clusters'

In [31]:
df_sub.groupby('cluster').agg({'Units Sold':['mean', 'median'], 
                         'Revenue':['mean', 'median'], 
                         'Profit':['mean', 'median']})

KeyError: 'cluster'

## Exporting the dataframes

In [ ]:
# Export the dataframe to csv file

df.to_csv(os.path.join(path, 'Manipulated Data', 'Adidas_sales_full.csv'))
df_sub.to_csv(os.path.join(path, 'Manipulated Data', 'Adidas_clustered.csv'))